<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Head -->
    <partial name="~/Views/Shared/Partials/LayoutParts/_Head.cshtml" />
    <!-- /.head -->
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <partial name="~/Views/Shared/Partials/LayoutParts/_Nav.cshtml" />
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <partial name="~/Views/Shared/Partials/LayoutParts/_SideBar.cshtml" />
        <!-- /.main sidebar container-->
        <!-- Main Page content -->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <!-- /.main page content -->
        <!-- Main Footer -->
        <partial name="~/Views/Shared/Partials/LayoutParts/_Footer.cshtml" />
        <!-- /.main footer -->
    </div>

    <!-- REQUIRED SCRIPTS -->
    <partial name="~/Views/Shared/Partials/LayoutParts/_ValidationScripts.cshtml" />

    <!-- ANOTHERS SCRIPTS -->
    <partial name="~/Views/Shared/Partials/LayoutParts/_Scripts.cshtml" />
</body>
</html>

<!-- <partial name="~/Views/Shared/Partials/LayoutParts/_Footer.cshtml" model="Model.User" /> -->